<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="res/img/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/itotallyrock/MusePlayer/9da71c923678d24565090597d16431a4138b15d7/res/css/main.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/itotallyrock/MusePlayer/52a590c9724658b8413484338ee0ce7bcf38d45a/res/css/music.css">
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://cdn.rawgit.com/itotallyrock/MusePlayer/7f9321b4ae1e130cfec8aa970cc80f3810e67448/res/js/utils.js"></script>
    <script src="https://cdn.rawgit.com/itotallyrock/MusePlayer/7f9321b4ae1e130cfec8aa970cc80f3810e67448/res/js/thumbnail.js"></script>
    <!-- <script src="https://cdn.rawgit.com/itotallyrock/MusePlayer/52a590c9724658b8413484338ee0ce7bcf38d45a/res/js/music.js"></script> --> <!-- CDN Version, from commit https://github.com/itotallyrock/MusePlayer/commit/52a590c9724658b8413484338ee0ce7bcf38d45a -->
    <script src="https://rawgit.com/itotallyrock/MusePlayer/master/res/js/music.js"></script> <!-- Dev Test Version, use CDN Version for releases -->
    <title>Muse Player</title>
</head>

<body>
    <div class="modal">
        <div class="body">
            <!-- <div class="loading">
                <h1>The Page is Loading Your Music</h1>
                <i class="fa fa-cog fa-spin fa-5x"></i>
            </div> -->
            <div class="error">
                <i class="fa fa-exclamation fa-5x"></i>
                <h1>An Unknown Error Has Occured.</h1>
                <p>Please refresh to continue <a href="#" onclick="location.reload()">Refresh</a>.</p>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="brand">MusePlayer</div>
        <div class="search">
            <input type="text" class="searchBox" placeholder="Begin Typing to Search">
            <div class="searchClear">&times;</div>
        </div>
        <!-- <div class="volume">
            <input type="range" name="name" value="" step="0.001" min="0" max="1" class="volumeControl">
            <div class="volumeIcon">
                <i class="fa fa-volume-off"></i>
            </div>
        </div> -->
    </div>

    <div class="songs">
        <div class="songList"></div>
    </div>

    <div class="footer">
        <div class="progressBar">
            <div class="progress"></div>
        </div>
        <div class="currentSong">
            <div class="image">
                <div class="thumbnail"></div>
            </div>
            <div class="details">
                <div class="info">Current Song: </div>
                <div class="name">Untitled Track</div>
            </div>
        </div>
        <div class="controls">
            <div class="buttons">
                <div class="button shuffle"><i class="fa fa-random"></i></div>
                <div class="button rewind"><i class="fa fa-step-backward"></i></div>
                <div class="button pause"><i class="fa fa-pause"></i></div>
                <div class="button skip"><i class="fa fa-step-forward"></i></div>
                <div class="button refresh"><i class="fa fa-repeat"></i></div>
            </div>
        </div>
    </div>
</body>

</html>